*{
    margin: 0;
    padding: 0;
}
body{
    background: #FFAFBD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Quicksand', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

header{
    color: whitesmoke;
    display: grid;
    place-items: center;

}

section{
    float: left;
}

article{
}

.foto{
    width: 200px;
    border: 1px solid white;
    border-radius: 20px;
    float: right;
    margin-left: 50px;
}

.descripcion{
    width: 200px;
    height: 200px;
    justify-self: left;
}






#gradiente{
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

